<script language="javascript">
$(function(){
	var tableList="tableList_user";
	var auForm ="addForm_user";
	var saveBtn="saveBtn_user";
	var addDiv="addDiv_user";
	var cancelBtn="cancelBtn_user";
	
	var th = $(".top").height();
	th = 204-th
	var wh = $(window).height()-th;
	var pr = 30;
	var pn = false;
	if(pr>0){
		pn = true;
	}
	$("#"+tableList).datagrid({
		//title:'用户列表',
		idField:'id',
		fix:true, 
		height:wh,
		autoRowHeight:false,
		singleSelect:true,
		striped:true,
		method:'get',
		sortName:'id',
		sortOrder:'desc',
		rownumbers:true,
		pagination:pn,
		pageSize:pr,
		pageList:[30,50,80,100],
		url:'__ROOT__/Admin/User/pageList',
		fitColumns:true,
		nowrap:true,
		selectOnCheck:false,
		animate:true,
		checkOnSelect:true,
		onBeforeLoad: function () {  
			
		},
		onDblClickRow:function(e,rowIndex,rowData){
			
		},
		toolbar:[{
		iconCls: 'fa fa-easyui fa-plus-square',
			text : '添加',
			handler: function(){
				$("#update_password_user").textbox('enable');
				$('#'+auForm).form('clear');
				$('#'+auForm).form('load',{
					'data[status]':1,
				});
				$("#"+addDiv).window('open');
			}
		},'-',{
			iconCls: 'fa fa-easyui fa-edit',
			text : '编辑',
			handler: function(){
				var selectedRow=$('#'+tableList).datagrid('getSelected');
				$("#update_password_user").textbox('disable');
				if(null==selectedRow){
					$.messager.alert('警告','请先选择一行！','warning');
				}else{
					$('#'+auForm).form('load',{
						'data[id]':selectedRow.id,
						'data[account]':selectedRow.account,
						'data[password]':"******",
						'data[nickname]':selectedRow.nickname,
						'data[status]':selectedRow.status,
						'data[remark]':selectedRow.remark,
					});
					$("#"+addDiv).window('open');
				}
			}
		},'-',{
			iconCls: 'fa fa-easyui fa-eye',
			text : '初始化密码',
			handler: function(){
				var selectedRow=$('#'+tableList).datagrid('getSelected');
				if(null==selectedRow){
					$.messager.alert('警告','请先选择一行！','warning');
				}else{
					$.messager.confirm('确认操作', '初始化密码为：123456 ?', function(r){
						if (r){
							var o={};
							o['data[id]']=selectedRow.id;
							ajaxReturnList("__ROOT__/Admin/User/initPassword",o);
						}
					});
				}
			}
		},'-',{
			iconCls: 'fa fa-easyui fa-share-alt',
			text : '设置角色',
			handler: function(){
				var selectedRow=$('#'+tableList).datagrid('getSelected');
				if(null==selectedRow){
					$.messager.alert('警告','请先选择一行！','warning');
				}else{
					//$('#roleTree_user').tree('reload');
					var selectedRow=$('#'+tableList).datagrid('getSelected');
					var o={};
					o['user_id']=selectedRow.id;
					var rows=ajaxReturnList("__ROOT__/Admin/User/getUserRole",o);
					var node=null;
					for(var i=0;i<rows.length;i++){
						 node = $('#roleTree_user').tree('find', rows[i].role_id);
						 $('#roleTree_user').tree('check', node.target);
					}
					$("#setRolesDiv_user").window("open");
				}
			}
		},'-',{
			iconCls: 'fa fa-easyui fa-times',
			text : '删除',
			handler: function(){
				var selectedRow=$('#'+tableList).datagrid('getSelected');
				if(null==selectedRow){
					$.messager.alert('警告','请先选择一行！','warning');
				}else{
					var ids=selectedRow.id;
					ajaxDelRowsDatagrid('__ROOT__/Admin/User/delRows',ids,tableList);
				}
			}
		},'-',{
			iconCls: 'fa fa-easyui fa-bolt',
			text : '更新缓存',
			handler: function(){
				
			}
		},'-',{
			iconCls: 'fa fa-easyui fa-check-square-o',
			text : '取消选择',
			handler: function(){
				$('#'+tableList).datagrid('clearSelections'); 
			}
		},'-',{
			iconCls: 'fa fa-easyui fa-retweet',
			text : '重载',
			handler: function(){
				$("#"+tableList).datagrid('reload');
			}
		}],
		frozenColumns:[[   
		    
		]],
		columns:[[  
			{field:'account',title:'帐号',width:40,sortable:true},
			{field:'nickname',title:'别名',width:40,sortable:true},    
			{field:'status',title:'状态',width:40,sortable:true,
				formatter:function(value,row){  
			          if(value==1){  
			        	  return '可用'; 
			          }else{  
			              return '不可用';  
			          }  
			   }  	
			},
			{field:'remark',title:'备注',width:40,sortable:true},
			{field:'last_login_ip',title:'最近登录IP',width:40,sortable:true},
			{field:'last_login_time',title:'最近登录时间',width:40,sortable:true,formatter:formatDatebox},
			{field:'create_time',title:'创建时间',width:40,sortable:true,formatter:formatDatebox},
			{field:'update_time',title:'修改时间',width:40,sortable:true,formatter:formatDatebox},
		]]
	});
	$("#"+saveBtn).click(function(){
		ajaxSubmitForm(auForm,'__ROOT__/Admin/User/addOrUpdate',addDiv,tableList);
	});
	$("#"+cancelBtn).click(function(){
		$('#'+addDiv).window('close');
	});
	$("#cancelBtn_setRoles_user").click(function(){
		$('#setRolesDiv_user').window('close');
	});
	$("#saveBtn_setRoles_user").click(function(){
		var selectedRow=$('#'+tableList).datagrid('getSelected');
		var o={};
		o['data[id]']=selectedRow.id;
		var nodes = $('#roleTree_user').tree('getChecked');
    	var nodeIds=[];
    	for(var i=0;i<nodes.length;i++){
    		nodeIds.push(nodes[i].id);
    	}
    	o['data[roleIds]']=nodeIds; 
    	var obj=ajaxReturnList("__ROOT__/Admin/User/setRoles",o);
    	if(obj.flag){
    		$("#setRolesDiv_user").window("close");
    	}
    	
	});
	$('#roleTree_user').tree({
		url:'__ROOT__/Admin/Role/getTree',
		editable:true,
		checkbox:true,
		cascadeCheck:false,
		lines:true,method:'get'
	});
});

</script>
<div>
 
	<table id="tableList_user"></table>

</div>
<div id="addDiv_user" class="easyui-window" title="添加" data-options="iconCls:'fa fa-dot-circle-o',closed:true" style="width:600px;height:360px;padding:5px;">
	<div class="easyui-layout" data-options="fit:true">
		<div data-options="region:'center',border:true">
			<form id="addForm_user" class="easyui-form" method="post" data-options="novalidate:true">
				<input name="data[id]" type="hidden" />
		    	<table cellpadding="5">
		    		<tr>
		    			<td><div style="width:62px;text-align: right;">帐号:</div></td>
		    			<td><input class="easyui-textbox" name="data[account]" data-options="required:true" style="width:200px;height:30px;" type="text"></input></td>
		    			
		    			<td>密码:</td>
		    			<td><input id="update_password_user" class="easyui-textbox" name="data[password]" data-options="required:true" style="width:200px;height:30px;" type="text"></input></td>
		    			
		    		</tr>
		    		<tr>
		    			<td><div style="width:62px;text-align: right;">别名:</div></td>
		    			<td><input class="easyui-textbox" name="data[nickname]" data-options="required:true" style="width:200px;height:30px;" type="text"></input></td>
		    			
		    			<td>状态:</td>
		    			<td>
		    				<select name="data[status]" class="easyui-combobox" name="language" style="width:200px;height:30px;" >
		    					<option value="1">可用</option>
		    					<option value="0">不可用</option>
		    				</select>
		    			</td>
		    		</tr>
		    		<tr>
		    			<td><div style="width:62px;text-align: right;">备注:</div></td>
		    			<td colspan="3"><input class="easyui-textbox" name="data[remark]" data-options="multiline:true" style="height:100px;width:455px;"></input></td>
		    		</tr>
		    	</table>
		    </form>
		</div>
		<div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
			<a id="saveBtn_user" class="easyui-linkbutton" data-options="iconCls:'fa fa-easyui fa-check'" href="javascript:void(0)" style="width:80px">保存</a>
			<a id="cancelBtn_user" class="easyui-linkbutton" data-options="iconCls:'fa fa-easyui fa-times'" href="javascript:void(0)" style="width:80px">取消</a>
		</div>
	</div>
</div>

<div id="setRolesDiv_user" class="easyui-window" title="授权" data-options="iconCls:'fa fa-dot-circle-o',closed:true" style="width:600px;height:360px;padding:5px;">
	<div class="easyui-layout" data-options="fit:true">
		<div data-options="region:'center',border:true">
			<form id="setRolesForm_user" class="easyui-form" method="post" data-options="novalidate:true">
				<ul id="roleTree_user"></ul>
		    </form>
		</div>
		<div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
			<a id="saveBtn_setRoles_user" class="easyui-linkbutton" data-options="iconCls:'fa fa-easyui fa-check'" href="javascript:void(0)" style="width:80px">保存</a>
			<a id="cancelBtn_setRoles_user" class="easyui-linkbutton" data-options="iconCls:'fa fa-easyui fa-times'" href="javascript:void(0)" style="width:80px">取消</a>
		</div>
	</div>
</div>

